<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talk with the App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Ask me something...!</h1>
    <div id="bubbleAnimation">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>
    <form id="speakForm">
        <input type="text" id="sentence" name="sentence" placeholder="Type something..." required>
        <label><input type="radio" name="inputMode" value="text" checked> Text</label>
        <label><input type="radio" name="inputMode" value="voice"> Voice</label>
        <br>
        <button type="submit">Ask me something...</button>
    </form>
    <audio id="audio"></audio>
    <p class="instructions">Select ‘Text’ or ‘Voice’ and click on ‘Ask me something...’ to hear the answer.</p><br><br>

     <p id="listeningMessage" style="display: none;">Listening...</p>

    <script src="/static/main_ro.js"></script>
</body>
</html>
